<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/png" href="../static/img/Logotipo.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Yago Sona - Portfolio</title>
</head>
<body>   

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/Logotipo.png" alt="Foto de perfil">
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i aria-hidden="true"></i> INÍCIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i aria-hidden="true"></i> SOBRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i aria-hidden="true"></i> HABILIDADES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i aria-hidden="true"></i> CURRÍCULO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i aria-hidden="true"></i> PORTFÓLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i aria-hidden="true"></i> CONTATO</a>
                </li>
            </ul>
        </nav>

        <section class="under-profile">
            <h1>Redes sociais</h1>
            <div class="social-links mt-4">
                <a target="_blank" href="https://www.linkedin.com/in/yago-sona-3875a0253/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/yagos17">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/yagosona_/?hl=ne">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
    </aside>
    
    <main id="main">

        <section id="inicio" class="row m-0 p-0">
        <div class="col-md-6 img-area">
            <img src="../static/img/Illustration.png" alt="Foto de Inicio" class="img-fluid">
        </div>
        <div class="col-md-6 text-area">
            <small>Olá, eu sou Yago Sona</small>
            <h1>Estudante de ciência da computação<br>apaixonado por tecnologia<br>e soluções funcionais.</h1>
            <a href="#sobre" class="btn btn-primary mt-3">Conheça meu trabalho</a>
        </div>
        </section>   

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Estudante de Ciência da Computação com formação em TI e uma 
                        paixão genuína por dados, tecnologia e inovação. Tenho como 
                        propósito transformar informações em valor, desenvolvendo 
                        soluções criativas, funcionais e de impacto real.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/Perfil.png" alt="Foto de perfil" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Resumo</h3>
                    <p>Atualmente, estou em constante evolução, sempre buscando 
                        aprender novas tecnologias, aprofundar minhas habilidades 
                        em Python, SQL, Análise de Dados e Desenvolvimento de Sistemas, 
                        além de explorar projetos que unam propósito e eficiência.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Nome Completo: <strong>Yago Sona Silva</strong></li>
                                <li class="list-group-item">Idade: <strong>20 Anos</strong></li>
                                <li class="list-group-item">Estado: <strong>São Paulo</strong></li>
                                <li class="list-group-item">Cidade: <strong>São Paulo</strong></li>
                            </ul>  
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Faculdade: <strong>Universidade Nove de Julho</strong></li>
                                <li class="list-group-item">Curso: <strong>Ciência da Computação</strong></li>
                                <li class="list-group-item">Semestre: <strong>4º</strong></li>
                                <li class="list-group-item">Hobby: <strong>Futebol</strong></li>
                            </ul>  
                        </div>
                    </div> 

                    <p>Valorizo desafios e acredito no poder da curiosidade e da prática 
                        para gerar resultados. No meu GitHub, você encontrará projetos que 
                        refletem minha jornada de aprendizado, comprometimento e vontade de 
                        fazer a diferença através da tecnologia.</p>

                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">

            <div class="container pb-5 text-white">
                <h2 class="pt-5">Habilidades</h2>
                <p></p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Power BI</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Office</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 100%">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 50%">50%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 25%">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Adobe Photoshop</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Adobe After Effects</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Adobe XD</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 25%">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Figma</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">GitHub</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">VBA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-blue-gray" data-anime="left" style="width: 25%">25%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="curriculo" class="mt-5 cv">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv title">Acadêmico</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Bacharelado em Ciência da Computação</h4>
                            <h5>2024 - 2027</h5>
                            <p><em>Universidade Nove de Julho</em></p>
                            <p></p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Técnico em Informática</h4>
                            <h5>2021 - 2023</h5>
                            <p><em>Senac São Paulo</em></p>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv title">Profissional</h3> 
                        <div class="cv-item" data-anime="up">
                            <h4>Aprendiz Administrativo</h4>
                            <h5>2023 - 2025</h5>
                            <p><em>Geap Saúde</em></p>
                            <p>Atualização de planilhas de cadastro de prestadores garantindo integridade e 
                                confidencialidade dos dados. Elaboração e preenchimento de formulários de pagamento 
                                conforme normas. Captura de dados e cadastro de clínicas para a Rede Credenciada, 
                                mantendo um banco de dados atualizado e acessível.</p>
                    </div>
                </div>
            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5" >
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4 text-white">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-white slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/Calculator.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Calculadora com CustomTkinter</h5>
                                        <p class="card-text">Calculadora simples desenvolvida com Python utilizando a biblioteca 
                                            CustomTkinter para uma interface gráfica moderna e responsiva.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/yagos17/python-calculadora-customtkinter" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="https://github.com/yagos17/python-calculadora-customtkinter" download target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/Analytics.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Projeto ETL Financeiro</h5>
                                        <p class="card-text">Projeto para praticar ETL em Python, envolvendo extração, transformação e 
                                            carga de dados, com integração MySQL e visualização via dashboard BI.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/yagos17/etl-personal-finance" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="https://github.com/yagos17/etl-personal-finance" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/Unknown.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Em desenvolvimento</h5>
                                        <p class="card-text">Estou trabalhando ativamente para entregar um projeto completo e estável.
                                            Agradeço pela compreensão e pelo interesse no projeto.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/Unknown.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Em desenvolvimento</h5>
                                        <p class="card-text">Estou trabalhando ativamente para entregar um projeto completo e estável.
                                            Agradeço pela compreensão e pelo interesse no projeto.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/Unknown.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Em desenvolvimento</h5>
                                        <p class="card-text">Estou trabalhando ativamente para entregar um projeto completo e estável.
                                            Agradeço pela compreensão e pelo interesse no projeto.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                    <img src="../static/img/Unknown.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Em desenvolvimento</h5>
                                        <p class="card-text">Estou trabalhando ativamente para entregar um projeto completo e estável.
                                            Agradeço pela compreensão e pelo interesse no projeto.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#" target="_blank" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="contato" class="pt-5 pb-5">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row" data-anime="up">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Endereço:</h4>
                                <p>São Paulo, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>yago.sona@gmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.8312884827087!2d-46.62731802376163!3d-23.502585559437193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef6292f9e8689%3A0xc4c1e905bd8425b3!2sSantana!5e0!3m2!1spt-BR!2sbr!4v1750198327664!5m2!1spt-BR!2sbr"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome"
                                    name="nome" placeholder="Digite seu nome" required>
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email"
                                    name="email" placeholder="Digite seu email" required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>

                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/scrit.js"></script>
</body>
</html>